@model Cstieg.Sales.Models.WebImage

<picture id="image-@Model.Id">
    <img src="@Model.ImageUrl" class="thumbnail" />
    <p>@Model.Caption</p>
    <button type="button" onclick="ImageUpload.deleteImage('/Edit/Products/DeleteImage/@Model.ProductId', @Model.Id); return false;">
        Delete Image
    </button>
</picture>
