<form action="/Home/Product" method="get">
    <label>Circumference: </label>
    <input type="text" name="circumference" />
    <select name="unit">
        <option value="inches">inches</option>
        <option value="centimeters">centimeters</option>
    </select><br />
    <input type="submit" value="Find my Heatsaver" />
</form>
