<form action="/Home/Product" method="get" class="text-center">
    <div class="hidden-xs hidden-sm hidden-md col-lg-12"><br /></div>
    <label>Circumference: </label>
    <input type="number" step="any" name="circumference" />
    <select name="unit">
        <option value="inches">inches</option>
        <option value="centimeters">centimeters</option>
    </select>
    <br />
    <div class="hidden-xs hidden-sm hidden-md col-lg-12"><br /></div>

    <input type="submit" value="Find my Heatsaver" class="centered" />
</form>