@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<div>
    <sections id="about-available">
        <h3>Available Sizes</h3>
        <p>
            Our stovepipe heat reclaimer / radiators are sold in sets of 6.  
        </p>
        <p>
            We have seven sizes available: 3", 3.6", 4", 5", 6", 7", and 8" diameter. 
            These are the standard stovepipe sizes, but we can supply custom sizes also.  
            <a href="mailto:stieg_d@yahoo.com">Email us.</a>
        </p>
        <p>
            Bear in mind that these are the diameters of the pipes, 
            but to measure your pipe, you will have to measure the circumference (the distance around).
            Please see our detailed instructions on the order page.
        </p>
        <p>Made in the USA from American steel.</p>
    </sections>
    <section id="about-how">
        <h3>How they Work</h3>
        <p>
            Stovepipe heat reclaimer / radiator rings extract wasted heat from your hot stove pipe and radiate the heat into the room.
            Installed, they make close contact with your stove pipe and conduct more usable heat from the hot pipe,
            and release it into the room by the exposed loops. 
            They work like the fins you see on a motorcycle engine cylinder head....they release heat. 
            These rings increase the surface area of your stovepipe between the stove and the chimney, 
            therefore allowing more heat to be radiated and released into the room.
        </p>
        <p>
            The bands conduct heat from the points of contact on the stovepipe to the loops in the band where the heat is released into the room.
            The band loops get as hot as the stovepipe...too hot to touch.
        </p>
        <p>
            So in effect, by installing this set of 6 bands, you create the equivalent of this 12 in. x 15 in. sheet of hot sheet metal,
            500 - 700 degrees, radiating heat from both sides of the sheet into the room before it escapes out the chimney.
            That is like a small space heater itself...and it is FREE HEAT.
        </p>
    </section>
    <section id="about-installation">
        <h3>Installation</h3>
        <p>
            They attach quickly and easily to your stovepipe....no screws or tools needed. 
            The ends lock into each other. It takes less than 5 minutes to attach all six radiators. 
        </p>
        <p>
            CAUTION: WEAR GLOVES and SAFETY GLASSES during installation!  Install when the stovepipe is cool.
        </p>
        <ul>
            <li>Wrap the radiator around the stovepipe leaving the ends on the backside of the stovepipe (so they cannot be seen from the front).</li>
            <li>The ends simply snap and lock into each other. 
                The ends are designed to be stretched toward each other to snap and insure good tight contact with the stovepipe.</li>
            <li>Space them about 1 inch or more apart to allow air circulation around the loops. 
                Or you can fill up the whole pipe, staggering the loops for maximum airflow and heat reclamation.
                They may be placed anywhere between the stove and where the stovepipe exits the room.</li>
        </ul>
    </section>
    

    
</div>