@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<main class="container">
    <div class="row">
        <div class="col-sm-12">
            <address>
                Detex<br />
                17852 Ten Mile Road<br />
                LeRoy, MI 49655<br />
            </address>

            <p class="larger-text">
                <strong>Phone:</strong>
                <a href="callto:2318322323">(231) 832-2323</a>
            </p>
            <p>
                Call Monday through Saturday, 8 am to 8 pm, Eastern time.
            </p>


            <address class="larger-text">
                <strong>Email:</strong>
                <a href="mailto:Support@example.com">stieg_d@yahoo.com</a><br />
            </address>

        </div>
    </div>
</main>
