@{
    ViewBag.Title = "Home";
}

<div id="myCarousel" data-interval="5000" data-ride="carousel" class="carousel slide">
    <!-- Carousel items -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/Content/images/BeforeAndAfterHeat.png"
                 alt="Sample slide">
            <div class="carousel-textbox-center">
                <p class="carousel-text s3">Guaranteed</p>
                <p class="carousel-text s1">to draw more</p>
                <p class="carousel-text s4">HEAT</p>
                <p class="carousel-text s1">from the</p>
                <p class="carousel-text s3">stovepipe</p>
            </div>
        </div>
        <div class="item">
            <img src="~/Content/images/PayForThemselves.png"
                 alt="Sample slide">
            <div class="carousel-textbox-center">
                <p class="carousel-text s2"><br /></p>
                <p class="carousel-text s3">Pay for themselves</p>
                <p class="carousel-text s2">in a short period</p>
                <p class="carousel-text s3">of time</p>
            </div>
        </div>
        <div class="item">
            <img src="~/Content/images/InstallInFiveMinutes.png"
                 alt="Sample slide">
            <div class="carousel-textbox-center">
                <p class="carousel-text s3">Install</p>
                <p class="carousel-text s3">in</p>
                <p class="carousel-text s4">5</p>
                <p class="carousel-text s3">minutes</p>
            </div>
        </div>
        <div class="item">
            <img src="~/Content/images/NeverNeedsMaintenance.png"
                 alt="Sample slide">
            <div class="carousel-textbox-center">
                <p class="carousel-text s2"><br /></p>
                <p class="carousel-text s4">NEVER</p>
                <p class="carousel-text s3">needs</p>
                <p class="carousel-text s3">maintenance</p>
            </div>
        </div>
        <div class="item">
            <img src="~/Content/images/blankSlide.png"
                 alt="Sample slide">
            <div class="carousel-textbox-center">
                <p class="carousel-text s4"><br /></p>
                <p class="carousel-text s2">Will last a</p>
                <p class="carousel-text s4">lifetime</p>
            </div>
        </div>
        <div class="item">
            <img src="~/Content/images/MadeInTheUsa.png"
                 alt="Sample slide">
            <div class="carousel-textbox-center">
                <p class="carousel-text s2"><br /></p>
                <p class="carousel-text s2">Made in</p>
                <p class="carousel-text s4">America</p>
                <p class="carousel-text s1">with US steel</p>
            </div>
        </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel"
       data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel"
       data-slide="next">&rsaquo;</a>
    <!-- Carousel indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
    </ol>
</div>

<section id="index-promo-video">
    <div id="watch-video-tab" class="centered-text btn">Watch a Video</div>
    <iframe id="watch-video" class="no-height slide-down" src="https://www.youtube.com/embed/zgkjz4k9NpU/rel=0" height="315" frameborder="allowfullscreen"></iframe>
</section>

<div class="container">
    <div class="row">
        <section id="index-about-heatsavers" class="col-sm-6">
            <h2>Why Do I Need a HeatSaver?</h2>
                <p>
                    Your furnace or heating stove is a wonderful thing in the winter ... BUT, it's not very efficient.
                    Much of the heat escapes out your chimney and heats the outdoors.
                </p>
                <p>
                    A set of Stovepipe HeatSavers will wrap around your stovepipe, conduct the wasted heat into the bands,
                    and radiate it back into your house, making your furnace or stove much more efficient.
                    It will help you increase the heat going into your house and/or save on your energy bills!
                </p>





            Guaranteed to draw more heat from the stovepipe.

            Pay for themselves in a short period of time.

            Never need maintenance.

            Will last a lifetime.

            May be re-used if you replace the old stovepipe.

            You may put on as many bands as you wish or have room for. The more bands, the less heat going out the chimney.
            Snap-on radiator bands install in minutes
            The bands, in effect, increase the outside surface area of your hot stovepipe. 
            The bands conduct escaping heat from your existing stove pipe into the loops of the bands. 
            This allows heat to be radiated from the loops. They salvage wasted heat.
            Fit all sizes of stove pipe. Install in 5 minutes.
            Salvage exhaust heat from your stack
            Radiate the free heat into your room before it escapes.
            Gives off heat just like the fins on a motorcycle engine.
            Works with any heat source....wood, coal, pellet, corn, propane, fuel oil, natural gas.

        </section>

        <section id="index-how-to-measure" class="col-sm-6">
            <h2>How to Order</h2>
                <h3>Measure the circumference of your stovepipe</h3>
                    <h4>Materials needed</h4>
                        <h5>Method 1 - A flexible tape measure</h5>
                        <ul>
                            <li>If you have a flexible tape measure (like those used for taking clothing measurements), you may use that.</li>
                            <li>Do NOT use a metal tape measure! You will not get a good measurement because it is too rigid.</li>
                        </ul>
                        <h5>Method 2 - A piece of string / yarn and a tape measure or yardstick</h5>
                    <h4>How to Measure</h4>
                    <ul>
                        <li>Do NOT measure a hot stovepipe! Wait until it is cool.</li>
                        <li>Wrap your flexible tape measure or string around the stovepipe, and note where it starts to overlap.</li>
                        <li>If using a flexible tape measure, note the measurement at the point of overlap.</li>
                        <li>If using a string, grasp the string at the exact point of overlap.  
                            Then place the loose end of the string at the beginning (0") of the tape measure,
                            and stretch it tight down the tape measure.  
                            Note the measurement at the point your fingers are grasping the string.</li>
                    </ul>
                <h3>Enter your measurement here</h3>
            <div id="index-find-by-circumference">
                @Html.Partial("_FindByCircumferencePartial")
            </div>

        </section>
    </div>
</div>
