@{
    ViewBag.Title = "Home";
}

@section AdditionalMeta
{
    <meta name="keywords" content="heatsaver, heat reclaimer, exchanger, radiate, fins, stove, stovepipe, furnace, energy efficiency" />
    <meta name="description" content="HeatSavers reclaim heat from your furnace or woodstove, radiating back into your house.  Order here." />
}

<section id="carousel" data-interval="5000" data-ride="carousel" sidenav-name="Top" class="carousel slide">
    <!-- Carousel items -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/content/images/20171127222940-BeforeAndAfterHeat-w200.jpg"
                 srcset="~/content/images/20171127222940-BeforeAndAfterHeat-w800.jpg 800w, ~/content/images/20171127222940-BeforeAndAfterHeat-w400.jpg 400w, ~/content/images/20171127222940-BeforeAndAfterHeat-w200.jpg 200w, ~/content/images/20171127222940-BeforeAndAfterHeat-w100.jpg 100w"
                 alt="Draws more heat">
            <div class="carousel-textbox-center">
                <p class="carousel-text s3">Guaranteed</p>
                <p class="carousel-text s1">to draw more</p>
                <p class="carousel-text s4">HEAT</p>
                <p class="carousel-text s1">from the</p>
                <p class="carousel-text s3">stovepipe</p>
            </div>
        </div>
        <div class="item">
            <img src="~/content/images/20171127222939-PayForThemselves-w200.jpg"
                 srcset="~/content/images/20171127222939-PayForThemselves-w800.jpg 800w, ~/content/images/20171127222939-PayForThemselves-w400.jpg 400w, ~/content/images/20171127222939-PayForThemselves-w200.jpg 200w, ~/content/images/20171127222939-PayForThemselves-w100.jpg 100w"
                 alt="Pay for themselves quickly">
            <div class="carousel-textbox-center">
                <p class="carousel-text s2"><br /></p>
                <p class="carousel-text s3">Pay for themselves</p>
                <p class="carousel-text s2">in a short period</p>
                <p class="carousel-text s3">of time</p>
            </div>
        </div>
        <div class="item">
            <img src="~/content/images/20171129100602-InstallInFiveMinutes-w200.jpg"
                 srcset="~/content/images/20171129100602-InstallInFiveMinutes-w800.jpg 800w, ~/content/images/20171129100602-InstallInFiveMinutes-w400.jpg 400w, ~/content/images/20171129100602-InstallInFiveMinutes-w200.jpg 200w, ~/content/images/20171129100602-InstallInFiveMinutes-w100.jpg 100w"
                 alt="Easy installation">
            <div class="carousel-textbox-center">
                <p class="carousel-text s3">Install</p>
                <p class="carousel-text s3">in</p>
                <p class="carousel-text s4">5</p>
                <p class="carousel-text s3">minutes</p>
            </div>
        </div>
        <div class="item">
            <img src="~/content/images/20171127222932-NeverNeedsMaintenance-w200.png"
                 srcset="~/content/images/20171127222932-NeverNeedsMaintenance-w800.png 800w, ~/content/images/20171127222932-NeverNeedsMaintenance-w400.png 400w, ~/content/images/20171127222932-NeverNeedsMaintenance-w200.png 200w, ~/content/images/20171127222932-NeverNeedsMaintenance-w100.png 100w"
                 alt="Never need maintenance">
            <div class="carousel-textbox-center">
                <p class="carousel-text s2"><br /></p>
                <p class="carousel-text s4">NEVER</p>
                <p class="carousel-text s3">need</p>
                <p class="carousel-text s3">maintenance</p>
            </div>
        </div>
        <div class="item">
            <img src="~/content/images/20171127222718-BeforeAndAfter2-w200.jpg"
                 srcset="~/content/images/20171127222718-BeforeAndAfter2-w800.jpg 800w, ~/content/images/20171127222718-BeforeAndAfter2-w400.jpg 400w, ~/content/images/20171127222718-BeforeAndAfter2-w200.jpg 200w, ~/content/images/20171127222718-BeforeAndAfter2-w100.jpg 100w"
                 alt="Last a lifetime">
            <div class="carousel-textbox-center">
                <p class="carousel-text s4"><br /></p>
                <p class="carousel-text s2">Will last a</p>
                <p class="carousel-text s4">lifetime</p>
            </div>
        </div>
        <div class="item">
            <img src="~/content/images/20171127222718-MadeInTheUsa-w200.jpg"
                 srcset="~/content/images/20171127222718-MadeInTheUsa-w800.jpg 800w, ~/content/images/20171127222718-MadeInTheUsa-w400.jpg 400w, ~/content/images/20171127222718-MadeInTheUsa-w200.jpg 200w, ~/content/images/20171127222718-MadeInTheUsa-w100.jpg 100w"
                 alt="Made in the USA">
            <div class="carousel-textbox-center">
                <p class="carousel-text s2"><br /></p>
                <p class="carousel-text s2">Made in</p>
                <p class="carousel-text s4">the USA</p>
                <p class="carousel-text s1">with American steel</p>
            </div>
        </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#carousel"
       data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#carousel"
       data-slide="next">&rsaquo;</a>
    <!-- Carousel indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
        <li data-target="#carousel" data-slide-to="3"></li>
        <li data-target="#carousel" data-slide-to="4"></li>
        <li data-target="#carousel" data-slide-to="5"></li>
    </ol>
</section>

<section id="index-promo-video" sidenav-name="Video">
    <div id="watch-video-tab" class="centered-text btn">Watch a Video</div>
    <iframe id="watch-video" class="no-height slide-down" src="https://www.youtube.com/embed/zgkjz4k9NpU/rel=0" height="315" frameborder="allowfullscreen"></iframe>
</section>

<section id="about-why-need" sidenav-name="About">
    <h2>Why Do I Need a HeatSaver?</h2>
    <p>
        Your furnace or heating stove is a wonderful thing in the winter ... BUT, it's not very efficient.
        Much of the heat escapes out your chimney and heats the outdoors.
    </p>
    <p>
        A set of Stovepipe HeatSavers will:</p>
    <ul>
        <li>Wrap around your stovepipe, conduct the wasted heat from the pipe into the bands, and radiate it back into your house</li>
        <li>Reclaim energy that would otherwise be lost</li>
        <li>Make your furnace or stove much more efficient</li>
        <li>Keep your house warmer and/or save on your energy bills!</li>
    </ul>
</section>
 
<section id="index-how-to-measure" sidenav-name="How To Order">
    <h2>How to Order</h2>
    <h3>Measure the circumference of your stovepipe</h3>
    <h4>Choose your materials</h4>
    <p>Click the appropriate image for instructions below</p>
    <ul class="nav nav-tabs tab-3wide">
        <li class="active">
            <a href="#flexible-measuring-tape" data-toggle="tab">
                <img src="~/content/images/20171129133235-FlexibleTapeMeasure-w200.jpg"
                        srcset="~/content/images/20171129133235-FlexibleTapeMeasure-w1600.jpg 1600w, ~/content/images/20171129133235-FlexibleTapeMeasure-w800.jpg 800w, ~/content/images/20171129133235-FlexibleTapeMeasure-w400.jpg 400w, ~/content/images/20171129133235-FlexibleTapeMeasure-w200.jpg 200w"
                        sizes="350px"
                        alt="Flexible tape measure" class="tab-img" />
                <h5>Flexible Tape Measure</h5>
            </a>
        </li>
        <li>
            <a href="#string-measuring-tape" data-toggle="tab">
                <img src="~/content/images/20171127222927-TapeMeasureAndString-w200.jpg"
                        srcset="~/content/images/20171127222927-TapeMeasureAndString-w800.jpg 800w, ~/content/images/20171127222927-TapeMeasureAndString-w400.jpg 400w, ~/content/images/20171127222927-TapeMeasureAndString-w200.jpg 200w, ~/content/images/20171127222927-TapeMeasureAndString-w100.jpg 100w"
                        sizes="350px"
                        alt="Tape measure and string" class="tab-img" />
                <h5>String and Tape Measure</h5>
            </a>
        </li>
        <li>
            <a class="disabled">
                <img src="~/content/images/20171127222933-NoRigidTapeMeasure-w200.jpg"
                        srcset="~/content/images/20171127222933-NoRigidTapeMeasure-w800.jpg 800w, ~/content/images/20171127222933-NoRigidTapeMeasure-w400.jpg 400w, ~/content/images/20171127222933-NoRigidTapeMeasure-w200.jpg 200w, ~/content/images/20171127222933-NoRigidTapeMeasure-w100.jpg 100w"
                        sizes="350px"
                        alt="No rigid tape measure" class="tab-img" />
                <p>Do NOT wrap a metal tape measure around!  You will not get a good reading because it is too rigid.</p>
            </a>
        </li>
    </ul>
    <br />
    <h4>How to Measure</h4>
    <div class="tab-content">
        <div class="tab-pane fade in active" id="flexible-measuring-tape">
            <ul>
                <li>If you have a flexible tape measure (like those used for taking clothing measurements), you may use that.</li>
                <li>Do NOT measure a hot stovepipe! Wait until it is cool.</li>
                <li>
                    Wrap your flexible tape measure around the stove pipe, and note the measurement at the point of overlap.
                    <img src="~/content/images/20171127222932-NoteFlexibleTapeMeasure-w200.jpg"
                            srcset="~/content/images/20171127222932-NoteFlexibleTapeMeasure-w800.jpg 800w, ~/content/images/20171127222932-NoteFlexibleTapeMeasure-w400.jpg 400w, ~/content/images/20171127222932-NoteFlexibleTapeMeasure-w200.jpg 200w, ~/content/images/20171127222932-NoteFlexibleTapeMeasure-w100.jpg 100w"
                            sizes="50vw"
                            alt="Measure the stovepipe with a flexible tape measure" class="max-width" />
                </li>
            </ul>
        </div>
        <div class="tab-pane fade" id="string-measuring-tape">
            <ul>
                <li>You need a piece of non-stretchy string or yarn, a tape measure or yardstick, and something to mark with.</li>
                <li>Do NOT measure a hot stovepipe! Wait until it is cool.</li>
                <li>
                    Wrap the string around the stovepipe and mark the string at the exact point of overlap.
                    <img src="~/content/images/20171127222927-MarkString-w200.jpg"
                            srcset="~/content/images/20171127222927-MarkString-w800.jpg 800w, ~/content/images/20171127222927-MarkString-w400.jpg 400w, ~/content/images/20171127222927-MarkString-w200.jpg 200w, ~/content/images/20171127222927-MarkString-w100.jpg 100w"
                            sizes="50vw"
                            alt="Measure the stovepipe with a string" class="max-width" />
                </li>
                <li>
                    Then place the end of the string at the beginning (0") of the tape measure,
                    and stretch it tight down the tape measure.
                    Note the measurement at the mark.
                    <img src="~/content/images/20171127222927-MeasureString-w200.jpg"
                            srcset="~/content/images/20171127222927-MeasureString-w800.jpg 800w, ~/content/images/20171127222927-MeasureString-w400.jpg 400w, ~/content/images/20171127222927-MeasureString-w200.jpg 200w, ~/content/images/20171127222927-MeasureString-w100.jpg 100w"
                            sizes="50vw"
                            alt="Measure the string" class="max-width" />
                </li>
            </ul>
        </div>
    </div>
    <div id="index-find-by-circumference">
        <h3>Enter your measurement here</h3>
        @Html.Partial("_FindByCircumferencePartial")
    </div>

</section>

<sections id="about-available" sidenav-name="Sizes Available">
    <h2>Available Sizes</h2>
    <p>
        Our stove pipe heat reclaimers / radiators are sold in sets of 6.
    </p>
    <p>
        We have seven sizes available: 3", 3.6", 4", 5", 6", 7", and 8" diameter.
        These are the standard stovepipe sizes, but we can supply custom sizes also.
        <a href="mailto:stieg_d@yahoo.com">Email us.</a>
    </p>
    <img src="~/content/images/20171127222932-AvailableSizes-w200.jpg" 
         srcset="~/content/images/20171127222932-AvailableSizes-w800.jpg 800w, ~/content/images/20171127222932-AvailableSizes-w400.jpg 400w, ~/content/images/20171127222932-AvailableSizes-w200.jpg 200w, ~/content/images/20171127222932-AvailableSizes-w100.jpg 100w"
         sizes="50vw"
         alt="Sizes of stovepipe heat reclaimers" class="max-width" />
    <p>
        Bear in mind that these are the diameters of the pipes,
        but to measure your pipe, you will have to measure the circumference (the distance around).
        Please see our <a href="#index-how-to-measure">detailed instructions.</a>
    </p>
    <p>Made in the USA from American steel.</p>
</sections>
<section id="about-how">
    <h2>How They Work</h2>
    <p>
        Stovepipe HeatSavers are heat exchangers or reclaimers that extract wasted heat from your hot stove pipe and radiate the heat into the room.
        Installed, the radiator rings make close contact with your stove pipe and conduct more usable heat from the hot pipe,
        and release it into the room by the exposed loops.
        They work like the fins you see on a motorcycle engine cylinder head....they release heat.
        These rings increase the surface area of your stovepipe between the stove and the chimney,
        therefore allowing more heat to be radiated and released into the room.
    </p>
    <p>
        The bands conduct heat from the points of contact on the stovepipe to the loops in the band where the heat is released into the room.
        The band loops get as hot as the stovepipe...too hot to touch.
    </p>
    <p>
        So in effect, by installing this set of 6 bands, you create the equivalent of this 12 in. x 15 in. sheet of hot sheet metal,
        500 - 700 degrees, radiating heat from both sides of the sheet into the room before it escapes out the chimney.
        That is like a small space heater itself...and it is FREE HEAT.
    </p>
</section>
<section id="about-installation">
    <h2>Installation</h2>
    <p>
        They attach quickly and easily to your stovepipe....no screws or tools needed.
        The ends lock into each other. It takes less than 5 minutes to attach all six radiators.
    </p>
    <p>
        CAUTION: WEAR GLOVES and SAFETY GLASSES during installation!  Install when the stovepipe is cool.
    </p>
    <ul>
        <li>
            Wrap the radiator around the stovepipe leaving the ends on the backside of the stovepipe (so they cannot be seen from the front).
            <img src="~/content/images/20171127222929-WrapAroundPipe-w200.jpg" 
                 srcset="~/content/images/20171127222929-WrapAroundPipe-w400.jpg 400w, ~/content/images/20171127222929-WrapAroundPipe-w200.jpg 200w, ~/content/images/20171127222929-WrapAroundPipe-w100.jpg 100w, ~/content/images/20171127222929-WrapAroundPipe-w600.jpg 600w"
                 sizes="50vw"
                 alt="Wrap radiator around stovepipe" class="max-width" />
        </li>
        <li>
            The ends simply snap and lock into each other.
            The ends are designed to be stretched toward each other to snap and insure good tight contact with the stovepipe.
            <img src="~/content/images/20171127222931-SnapAndLockTogether-w200.jpg" 
                 srcset="~/content/images/20171127222931-SnapAndLockTogether-w400.jpg 400w, ~/content/images/20171127222931-SnapAndLockTogether-w200.jpg 200w, ~/content/images/20171127222931-SnapAndLockTogether-w100.jpg 100w, ~/content/images/20171127222931-SnapAndLockTogether-w600.jpg 600w"
                 sizes="50vw"
                 alt="Ends snap and lock together" class="max-width" />
        </li>
        <li>
            Space them about 1 inch or more apart to allow air circulation around the loops.
            Or you can fill up the whole pipe, staggering the loops for maximum airflow and heat reclamation.
            They may be placed anywhere between the stove and where the stovepipe exits the room.
            <img src="~/content/images/20171127222927-FullStovepipe-w200.jpg" 
                 srcset="~/content/images/20171127222927-FullStovepipe-w400.jpg 400w, ~/content/images/20171127222927-FullStovepipe-w200.jpg 200w, ~/content/images/20171127222927-FullStovepipe-w100.jpg 100w, ~/content/images/20171127222927-FullStovepipe-w600.jpg 600w"
                 sizes="50vw"
                 alt="Stovepipe full of exchanger rings" class="max-width"/>
        </li>
    </ul>
</section>


<nav id="index-side-nav" class="side-nav">
    <p>On This Page</p>
</nav>