@model IEnumerable<StovepipeHeatSaver.Models.Product>

@{
    ViewBag.Title = "Products";
}

<h2>Products</h2>
<h4>Stop!</h4>
<p>Please be sure to measure the circumference (distance around) your stove pipe.  This is different from the diameter.  
    See the <a href="/#index-how-to-measure">instructions</a> for help.</p>

<div>
    @Html.Partial("_FindByCircumferencePartial")
</div>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            @Html.Partial("_ProductPartial", item)
        }
    </div>
</div>