
@{
    ViewBag.Title = "Product Size Not Found";
}

<h2>Product Size Not Found</h2>

<p>
    The size you submitted doesn't seem to be a standard size.
    Please check your measurements again. If you have a non-standard size, please 
    <a href="@ViewBag.MailToString">contact us</a>
    for a custom HeatSaver.
</p>
<p>
    Please also ensure that you entered the actual circumference (distance around the pipe) measurement.
    If you are sure of your stove pipe's diameter, you may select from the <a href="/Products">products</a> page.
</p>
<img src="~/Content/images/CircumferenceDiameter.png" class="max-width" />
