@model IEnumerable<StovepipeHeatSaver.Models.Product>

@{
    ViewBag.Title = "Products";
}

@section BreadCrumbs
{
    <ul class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/" itemprop="item">StovePipeHeatSaver</a>
            <meta itemprop="position" content="1" />
        </li>
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/Products" itemprop="item">Products</a>
            <meta itemprop="position" content="2" />
        </li>
    </ul>
}


<h2>Products</h2>   
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6">
            <h4>Stop! Measure the circumference; don't guess on the diameter!!</h4>
            <div class="hidden-xs hidden-sm hidden-md col-lg-12"><br /></div>
            <p>
                Please be sure to measure the circumference (distance around) your stove pipe.  This is different from the diameter.
                See the <a href="/#index-how-to-measure">instructions</a> for help.
            </p>

            <div>
                @Html.Partial("_FindByCircumferencePartial")
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
            <img src="~/Content/images/CircumferenceDiameter.png" class="max-width" />
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            @Html.Partial("_ProductPartial", item)
        }
    </div>
</div>