/* ******************************** Shopping Cart Page ******************************** */
.shopping-cart-product-image {
    max-width: 100%;
}

#country-select,
#enter-promo-code {
    width: 45%;
    display: inline-block;
}

#enter-promo-code {
    float: right;
}

#no-paypal {
    width: 250px;
    border: ridge thick green;
    border-radius: 14px;
    padding: 6px;
}

#no-paypal h4 {
    margin: auto;
}
