
/* ***************** COMMON ***************************************** */

body {
    /* Padding for height of navbar header */
    padding: 146px 10px 20px 10px;
    background-image: url("");
    background-color: #ffe; /* offwhite */
}

@media screen and (max-width: 416px) {
    body {
        padding-top: 140px;
    }
}

@media screen and (min-width: 1200px) {
    body {
        background: linear-gradient(to right, #fb9, white 10%, white 90%, #fb9);
    }
}

.body-content {
    color: none;
    padding-left: 15px;
    padding-right: 15px;
    font-size: medium;
}

main {
    min-height: 75vh;
    display: block;
}

footer {
    font-size: small;
    bottom: 0;
}

hr {
    margin: 10px 0;
}

.larger-text {
    font-size: larger;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

h1 {
    font-family: Impact;
}

h2,
h3,
h4,
h5 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}


h2 {
    background-color: maroon;
    color: white;
    padding: 4px;
    border: 2px outset red;
    border-radius: 6px;
    font-weight: 300;
}

h3 {
    font-size: 4vh;
}

h4 {
    font-size: 3vh;
}

h5 {
    font-size: 2.5vh;
}

textarea {
    width: 100%;
    min-height: 10em;
}


/* Cancel Bootstrap's margin / padding adjustments, which were causing misalignments */
.container,
.container > .navbar-header,
.container > .navbar-collapse {
    padding: 0;
    margin: 0 auto;
}

.row {
    margin: 5px auto;
}

/* ****************************** Navbar ****************************************** */
.logo {
    width: auto;
    height: 100px;
    margin: 3px 10px;
}

.navbar-nav {
    margin: 0;
    padding-top: 5px;
}

.navbar-inverse {
    background-color: darkred;
    border-color: maroon;
}

.navbar-header .navbar-brand {
    font-size: 18pt;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
    color: white;
}


/* Menu items */
.navbar-inverse .navbar-nav > li > a {
    padding: 5px;
    font-size: large;
    height: 35px;
    margin: 3px 10px;
    border: 3px transparent groove;
    border-radius: 10px;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: black;
    border: 3px red groove;
    background-color: white;
}

/* Shopping Cart Icon Fix */
span.glyphicon {
    line-height: 0;
    margin-right: 6px;
}

@media screen and (min-width: 768px) {
    .navbar-nav {
        display: flex;
        flex-wrap: wrap;
        float: unset;
    }
}


/* ********************************* Side Nav ************************ */

.side-nav {
    position: fixed;
    left: 10px;
    top: 140px;
    padding: 5px;
    background-color: white;
    border: solid maroon thin;
    border-radius: 10px;
}

.side-nav * {
    display: block;
    font-size: 2vh;
    text-align: center;
    margin: 0;
    padding: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: solid maroon thin;
}

.side-nav a:last-child {
    border-bottom: none;
}

@media screen and (max-width: 1400px) {
    .side-nav {
        display: none;
    }
}

/* **************************** Main page carousel ******************************** */
.carousel {
    margin-bottom: 30px;
}

.carousel-textbox-center,
.carousel-textbox-center-left,
.carousel-textbox-center-right,
.carousel-textbox-left,
.carousel-textbox-right {
    position: absolute;
    top: 10px;
    bottom: 20px;
    z-index: 10;
    color: black;
    text-align: center;
}

.carousel-textbox-center {
    left: 30%;
    right: 30%;
}

.carousel-textbox-center-right {
    right: 3%;
    left: 30%;
}

.carousel-textbox-center-left {
    right: 50%;
    left: 10%;
}

.carousel-textbox-right {
    right: 10%;
    left: 60%;
}

.carousel-textbox-left {
    right: 60%;
    left: 10%;
}

.carousel-text {
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.carousel-caption {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2vw;
}

.s4 {
    font-size: 3.75vw;
    line-height: 1;
}

.s3 {
    font-size: 3.25vw;
}

.s2 {
    font-size: 2.75vw;
}

.s1 {
    font-size: 2.5vw;
}

@media screen and (min-width: 1000px) {
    .s4 {
        font-size: 40pt;
    }

    .s3 {
        font-size: 35pt;
    }

    .s2 {
        font-size: 30pt;
    }

    .s1 {
        font-size: 25pt;
    }
}

.carousel-indicators {
    background: linear-gradient(to right, lightpink, red 50%, lightpink 100%);
    border-radius: 14px;
    width: 50%;
    margin-left: -25%;
    top: 101%;
    height: 20px;
}

/* **************************** Video display ************************************* */
#watch-video-tab {
    width: 100%;
    background-color: yellow;
    border: 4px gold outset;
    border-radius: 10px;
}

#watch-video-tab:hover {
    border: 4px gold inset;
}

#watch-video {
    width: 100%;
}

#watch-video iframe {
    width: 100%;
    height: 315px;
    margin: auto;
}

/* **************************** Main Page Images and Tabs ************************* */
.max-width {
    max-width: 100%;
    max-height: 50vh;
    display: block;
    margin: auto;
    border-radius: 6px;
}

.tab-3wide > li {
    width: 390px;
    min-height: 350px;
}

.tab-img {
    width: 350px;
    height: 250px;
    border-radius: 6px;
}

@media screen and (max-width: 800px) {
    .tab-3wide > li {
        width: 47vw;
        min-height: 250px;
    }

    .tab-img {
        width: 40vw;
        height: 150px;
    }
}

.nav-tabs > li {
    background-color: #fdd;
}

.nav-tabs > li[class=active] {
    border: solid yellow thick;
    border-radius: 10px;
}

/* **************************** Product display *********************************** */
.product-item {
    height: auto;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 14px;
}

.product-item * {
    text-align: center;
    margin: 0;
    padding: 0;
}

.product-image {
    width: 200px;
    height: 220px;
    margin: auto;
    border: inset transparent 4px;
    border-radius: 8px;
}

.product-image img {
    max-width: 200px;
}

.product-image:hover {
    border: inset maroon 4px;
    border-radius: 8px;
}

.buy-now {
    background-color: red;
    color: white;
    font-size: larger;
    min-width: 100px;
    min-height: 20px;
    border: gray 2px outset;
}

.add-to-shopping-cart {
    margin: 4px;
}

.product-item button:hover {
    background-color: maroon;
    color: white;
}

.product-item.selected .buy-now {
    border: black 2px solid;
    border-radius: 6px;
}

.image-wrapper {
    width: 100%;
}

/* ************************* Product page ******************** */
#product-page-images img {
    width: auto;
    max-width: 100%;
    max-height: 75vh;
    margin: auto;
}

#product-page-description dt,
#product-page-description dd {
    margin-bottom: 8px;
}

/* ************************* Order detail page *************** */
.item-detail-header *,
.item-detail-total * {
    font-weight: bold;
}


/* ******************************** Shopping Cart Page ******************************** */
.shopping-cart-product-image {
    max-width: 100%;
}

#no-paypal {
    width: 250px;
    border: ridge thick maroon;
    border-radius: 14px;
    padding: 6px;
}

#no-paypal h4 {
    margin: auto;
}

/* ********************************Reviews Page *************************************** */
.product-review {
    background-color: #fee;
    border: outset thick red;
    border-radius: 14px;
    color: black;
    margin-bottom: 10px;
    padding: 10px;
}

.product-review > hr {
    margin-bottom: 0;
}

.product-review-footer {
    font-size: small;
    text-align: right;
    margin-top: 6px;
}

/* *************************** FAQ ******************************* */
#faqs {
    display: flex;
    flex-wrap: wrap;
    margin-left: -25px;
    margin-right: -5px;
}

/* Put margins on inner div instead of .faq to avoid causing flexbox to overflow*/
.faq-inner {
    margin: 10px;
    padding: 10px;
}

.qa-question,
.qa-answer {
    min-height: 6em;
    padding: 6px;
}

.qa-question {
    font-size: 14pt;
    font-weight: bold;
    vertical-align: middle;
    border: outset thick red;
    border-radius: 14px;
    background-color: #fee;
}

.qa-answer {
    padding-top: 4px;
}

.qa-question::before,
.qa-answer::before {
    color: red;
    font-size: 40pt;
    font-weight: normal;
    font-family: Impact;
    text-align: center;
    float: left;
    width: 1em;
    height: 1em;
    padding: 3px;
    padding-top: 0;
    margin-top: -10px;
    margin-right: 10px;
    margin-bottom: 20px;
    display: block;
}

.qa-question::before {
    content: 'Q';
}

.qa-answer::before {
    content: 'A';
}

/* ******************************** Model Scaffolding ********************************* */
#product-images {
    display: flex;
    flex-wrap: wrap;
}

/* ******************** EditIndex.js ***************************************** */

.input-text {
    background-color: white;
    background-color: -moz-field;
    border: 1px solid darkgray;
    box-shadow: 1px 1px 1px 0 lightgray;
    font: -moz-field;
    font: -webkit-small-control;
    margin-top: 5px;
    padding: 2px 3px;
    width: 100%;
}

.green-border {
    border: ridge thick green;
    border-radius: 14px;
}

.red-border {
    border: ridge thick red;
}

.border-fade {
    border-color: transparent;
    border-radius: 0;
    border-width: 1px;
    transition-property: all;
    transition-duration: 3s;
    transition-timing-function: ease;
}

/* ********************* Overrides ******************************* */
.centered {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.centered-text {
    text-align: center;
}

.no-height {
    height: 0;
    overflow: hidden;
}

.slide-down {
    transition: height ease-in-out 1s;
}


