@model Cstieg.Sales.Models.Order

@{
    ViewBag.Title = "Order Success";
}

@section BreadCrumbs
{
    <ul class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/" itemprop="item">StovePipeHeatSaver</a>
            <meta itemprop="position" content="1" />
        </li>
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/ShoppingCart" itemprop="item">Shopping Cart</a>
            <meta itemprop="position" content="2" />
        </li>
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/ShoppingCart/OrderSuccess" itemprop="item">Order Success!</a>
            <meta itemprop="position" content="3" />
        </li>
    </ul>
}

<h2>Order Success</h2>
<br />
<br />
<br />
<p class="larger-text">You have successfully placed your order.  We will ship to @Model.ShipToAddress via US Postal Service.</p>
<br />
<h2>Order Details</h2>
<hr />
@foreach (var orderDetails in Model.OrderDetails)
{
    <p>Item: @orderDetails.Product.Name</p>
    <p>Quantity: @orderDetails.Quantity</p>
    <p>Paid: @orderDetails.TotalPrice</p>
    <br />
}
<hr />
<p>Total: $@Model.Total</p>
